
$color-bg:#f1f1f1;
$color-main:#fe9600;



// 最外层tab
.Tab{
	.tab-header-wrap{
		text-align:center;
		background:white;
		border-bottom:1px solid #eee;
		.tab-header{
			font-size: 0.33rem;
			display: inline-block;
			.tab-header-item{
				float: left;
				padding:0.3rem 0.2rem;
				&.curr{
					color:$color-main;
				}
			}
		}
	}
	.tab-body-wrap{
		.tab-body{
			.tab-body-item{
				display: none;
				&.curr{
					display: block;
				}
			}
		}
	}
}

// tab-商品-限时抢
.limited-wrap{
	height:0.9rem;
	line-height:0.9rem;
	background:#f96475;
	color:white;
	padding:0 0.24rem;
	font-size:0.3rem;
	i{
		color:#f96475;
		font-style: normal;
		background:white;
		padding:0.1rem 0.3rem;
		border-radius: 0.3rem;
	}
}

// tab-商品-商品名称部分
.goods-name-wrap{
	padding:0.14rem 0.24rem;
	line-height: 1.1;
	background:white;
	.main-name{
		font-size: 0.34rem;
		font-weight: 600;
		margin:0.2rem 0;
	}
	.sub-name{
		font-size: 0.26rem;
		color:#666;
	}
}

// tab-商品-商品价格部分
.goods-price-wrap{
	padding:0.2rem 0.24rem;	
	background:white;
	border-bottom:1px solid #eee;
	.now-price{
		font-size: 0.44rem;
		font-weight: 600;
		color:$color-main;
		&.icon-price{
			&:before{
				content: '￥';
				font-weight:normal;
				font-size: 0.26rem;
			}
		}
	}
	.old-price{
		color:#666;
		font-size: 0.26rem;
		padding-left: 0.1rem;
	}
	.right-tip{
		float: right;
		border:1px solid $color-main;
		color:$color-main;
		font-size: 0.26rem;
		padding:0.08rem 0.15rem;
		font-style:normal;
		border-radius:0.08rem;
	}
}

// tab-商品-参数列表
.goods-list-wrap{
	.group{
		margin-bottom: 0.1rem;
		padding-left:0.24rem;
		background:white;
		li{
			border-bottom:1px solid #eee;
			padding: 0.37rem 0.12rem 0.1rem 0;
			&:last-child{
				border-bottom:none;
			}
			.icon-more{
				position:relative;
				width: 0.45rem;
				height: 0.1rem;;
				&:after{
					content: '';
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0.1rem;;
					background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAKCAYAAAD2Fg1xAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQtJREFUeNpiYBgmgBGf5N69ewWAVAAQKwDxAyDe4Ozs/IFYwydPmoahPzcvi2j9aWlpGPpnzZr1gSSPAD2RAKT6gVgASRhkiCPQMxeI8IQBkNqPTT/QMxeI8AQu/YVAzywgyiNAT4BC4DyaIciGKeKLGWhM3MenH1/MQGMCn35DoGceIAsy4TArAYchDFDxAAIBSkh/AgH9AaTqZyIzbykQkBegUF6BVAeR65EPNC6EPlDLIwsIWLKBgLkLKJTfQMAzC4jyCDAjgzJSIg5DCqHyOAEwI+PTnwiVxwmgGbkQl370jE5MPWIAzXj2QHwQFBKEPIFWeilAMyZcPyFPoJVe6PpB9QjWohsgwACxiGHtk+BrrQAAAABJRU5ErkJggg==') no-repeat center center;
					background-size:100%;
				}
			}
			.li-title{
				color:#666;
				font-size: 0.3rem;
				margin-right:0.15rem;
			}
			.li-content{
				font-size: 0.3rem;
				.li-aline{
					padding-bottom:0.25rem;
					&.clear-padding{
						padding-bottom:0;
					}
				}
				span.li-icon{
					margin-right:0.1rem ;
					font-size: 0.24rem;
					color:$color-main;
					border:1px solid $color-main;
					height: 0.36rem;
					line-height: 0.36rem;
					padding:0.05rem 0.1rem;
					border-radius:0.08rem;
					&.btn-icon{
						display: inline-block;
						margin-top: -0.1rem;
						margin-bottom: 0.3rem;
						color:#666;
						border:1px solid #666;
						&.curr{
							color:$color-main;
							border:1px solid $color-main;
						}
					}
				}
			}
		}
	}
}

// tab-商品-商品支持
.goods-support-wrap{
	padding:0.34rem 0.24rem;
	background:#f7f7f7;
	.icon-support{
		color:#666;
		margin-right: 0.25rem;
		font-size: 0.3rem;
		&:before{
			content: '';
			display: inline-block;
			width: 0.25rem;
			height: 0.25rem;
			background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgNJREFUeNq8Vt1RwkAQvmTw/UqQCsAKDBUYKzAU4IgVABUAYwHECsAKghUYKzBWQN590F3nO+Y875JcEt2ZnYNks9/td/tzQvyzBD7GHw9iTMs56Vh7fCAtzm5F0QsggTDAHWkMMJcw4CPpmsDLVoAEtqBljr/sZE/6SpprZhHpCBtSdksCXTcGRFQ7UMcO7slBWrM5ScsMbEhQfW1GGzjOKcNHKcBKj3OW2GwEJib694HFOENkKRlO22Yj+drSknCk5GfiMlqRfsK4s5CfDP4WvyKkhxGi4xQf9gTIjL3h7wWXTqi9v8E67QgyI2UqBc5uiXxIThFiJ8eu0bnOjZ6z75J9D7RaYtn0APZdRsZrrt+EK0BRqlpV3gMYl4Hp51kFpgBH4PzwB2Cq7bFIRal0ODvCeGIr/oZgPySseb8H3RkSqxOYDphrbe0k6DSpCdoCTJqA70byVIG2iexSzc5Qo47lymZtgHrTqEYXJ2WIHwVojTGaqkALHzC0zHMV1EB7x0XPdK14jlWA+src2VRoNy/o7klPzXsBfzvXPFTDV3iekQ0sAWN83kNVx6FBWY4+KJGRcduJoYG5J75ldwKJsmxyDUTCbTEMrJkc1NxBt1ptMvATRk9pgEQoqVi7q05tmwwansW85k4qtI61qbrhBR7nMkYEI6PZlxg/hyZJ9iXAAPOJ6+Rw7RJaAAAAAElFTkSuQmCC') no-repeat center center;
			background-size:100%;
			margin-right: 0.05rem;
		}
	}
}

// tab-商品-品牌/店铺
.goods-store-wrap{
	padding:0.24rem;
	background:white;
	.store-logo{
		width: 0.9rem;
		height: 0.9rem;
		border:1px solid #ddd;
		border-radius:100%;
		overflow: hidden;
		margin-right:0.3rem; 
	}
	.store-info-box{
		padding-bottom:0.4rem;
	}
	.store-info{
		line-height: 1.3;
	}
	@mixin btn($background){
		position: relative;
		display: inline-block;
		height: 0.6rem;
		line-height: 0.6rem;
		border:1px solid #999;
		padding:0 0.8rem;
		border-radius:0.1rem;
		font-size: 0.3rem;
		text-decoration: none;
		&:before{
			content: '';
			background:$background;
			display: inline-block;
			float: left;
			width: 0.3rem;
			height: 100%;
			background-size:0.3rem 0.3rem;
			margin-right: 0.1rem;
		}
	}
	.link-service{
		@include btn(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhRJREFUeNrEVstxwkAMtXe4xyW4BFMBpoJABcFXLuAKgAqAC1eTCmwqwB3EHeBUEEqINPN2Ipb1BJt1ohmNPft70ltJK8/7J/HbLD4cDiF9IugLvjXpJ+mVtJzP55UzYAKc0WcBIC0VwFhiMc5jBemGjKg7ARPghD5b0hBA701e0doABrySzjB8JE1p/fUhYByyxQEVNpctr4QZWoKBsWms3wB6Bq1M17prANFZfEZOymcmdFah55RlfQ7Q5BlQFng5RABmMOQemCbWuCem9ugibXC/Y+0UGP0BFvdS0OKdy5wF+BRBujQ9XuAu0j4KBoKzBM4N8ATe1j0WrD07x2mqBM2spz7LJKKaaR8NMBaKamRLhxA0TXUxoLkzAvEmT1HlMhxhS0deFykJbKlIK2FUrCsSDtdlUhcbLZncDzbvRIn6+qdyA0zWxcb8RhhVofZ6eARKsXcv9iTif9cUrL4ok18oHLu+vBQ4GyUSnD1665nhiWZMGTkWWeh2KRysNQexEjl2FMU86IHmNTIktb1OCSa3jkFjeFvop1FZ6ilH8owWZw5Bc8RQ8lsHkunug4wZPknvCqBj2QKphpqawLq6IyAzdtH0mqCt21vjQblydCIQI4yNkDIBjE5lu/Ms8IfR5nqW1vbUBKhl0OHOIqSE+aDUbd5yvyXFF6TE1NUj8YhkoNJJazR40NtAdJ9OWqNvAQYAB8PsGFLDad4AAAAASUVORK5CYII=') no-repeat center center);
	}
	.into-store{
		@include btn(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbRJREFUeNrEl9FtwjAQhm2rA2SEjEA3gAlKJyi88lIyATABb7yGThA2IBuUDcoIjND/pD+VFTmJ7ZjU0skh8fnznc/nQ6l/arp5OJ1Oc3RzD50HpN5sNrfRYEC36I6BujXkgAXUUWBAc/Q/ELFggYkefQocv4J8QjLIGjrnGLC490qo9+qhl1FvFgN/6ZhUXL+jRXdIgYkv9hjxDMYtCC/xrELgxgFdcr8FeODrii5Wbbh4itsk8FU0GO2DkSuu33NixX1VqeAmxZl0wI8x4C/u7RUT7LmH0s4B8C10yyAwg6iA5Awwae94f/exHPLKRa764NHHyeO4lYyLM+Zd91mcpczFhHVabrgn0t5SXwR9cMOguPBjPhW8cbWdKLIp4Pa1KIFQ+l4WYwNOtz5MAa/QLU3LJeKONW+c6zPczgTlTCBPg3OuXWeudsBniaB/97ceGNzseXNb3VJAxTDtoSQpteLPYHhXpaI9lWfWLeUN7yuPdMDKg+BDNZkOdJsX3KcQNIGp72aVQs5o57vvoepTR0ap03Lr/WC9rUecSxtesD9aFUvt9d9pBLximaRCzvuvAAMAKikGgORZFx4AAAAASUVORK5CYII=') no-repeat center center);
	}
	[fs="30"]{
		font-size: 0.35rem;
	}
	[fs="24"]{
		font-size: 0.24rem;
	}
	[color="gray"]{
		color:#999;
	}
	[color="main"]{
		color:$color-main;
	}
}

// tab-商品-为您推荐
.tab-wrap{
	background:white;
	.tab{
		height: 0.9rem;
		line-height: 0.9rem;
		border-bottom:1px solid #eee;
		.item{
			text-align: center;
			font-size: 0.33rem;
			a{
				color:#666;
				text-decoration: none;
			}
			&.curr{
				a{
					color:$color-main;
				}
			}
		}
	}
	.con{
		.item{
			display: none;
			width: 100%;
			overflow: hidden;
			position: relative;
			&.curr{
				display: block;
			}
		}
	}
}

// tab-商品-为您推荐-tab-滑动商品列表
.goods-slick-wrap{
	position:relative;
	// left:0px;
	padding-bottom:0.3rem;
	-webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0.09, 1.24);
	transition: all 0.5s cubic-bezier(0.42, 0, 0.09, 1.24);
	.goods-wrap{
		padding:0.3rem;
		font-size: 0.3rem;
		text-align: center;
		line-height: 1.2;
		width: 33%;
		.ge-square-box{
			margin-bottom: 0.1rem;
		}
	}
	.slick-dots{
		position:absolute;
		bottom:0.1rem;
		left:50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		li{
			width: 0.15rem;
			height: 0.15rem;
			background:rgba(0,0,0,0.5);
			float: left;
			margin: 0 0.08rem;
			border-radius: 100%;
			button{
				opacity:0;
			}
			&.slick-active{
				background:$color-main;
			}
		}
	}
}

// tab-商品-更多推荐
.btn-more{
	[color="gray"]{
		color:#666;
	}
	[fs="26"]{
		font-size: 0.26rem;
	}
	line-height:0.9rem;
	height:0.9rem;
	text-align:center;
	background:white;
	a{
		&.icon-up-arrow{
			position:relative;
			&:before{
				position: absolute;
				top: 0.07rem;
				left: -0.35rem;
				content:'';
				width: 0.25rem;
				height: 100%;
				display: inline-block;
				background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABLUlEQVRYR+3UsVHDMBQG4PcKu2YENoBMQDwBK6ixWsgm1FKjFZggjBAmYARI+1w8TndWTjG2JMvi0sitdfo//08ywo0fvHE+VEBtoDawqYG+7x/tNdZan3KvczZgDD+OwV0uIgvghR8Q8Z6ZXwAgC7Ea4MIR8V0pJWwDUkrDzM85iFWAuXA3+1xEMiAUvgWRBEgJz0VEAUKIu6ZpvvyZx66cHQcAPBHRzhjzE1ofBIzhR0T8dAcuFj5p4mEYhi6EWARsCV+DmAWUCE9F/AG4cAA4a633qZWH1kkpT8zMc+O4AnhfjkS0jx2gVJzdt23bjznEBfBf4Q65hLgAbE12cckvnzbkIb611p197wNeiciUqn1pPCNCKKXergCp8yy9LvonLB043a8CagO1gV+e9Nghr+UdUwAAAABJRU5ErkJggg==') no-repeat center center;
			}
			
		}
	}
}

// tab-商品详情
.goods-detail-pic{
	display:none;
	&.curr{
		display: block;
	}
	.pic-box{
		img{
			width: 100%;
			display: block;
		}
	}

}


// tab-商品评价
.goods-evaluate-wrap{
	// tab
	.tab-evaluate{
		overflow: hidden;
		height: 0.8rem;
		padding:0.1rem 0;
		background:#fff;
		li{
			float: left;
			width: 20%;
			line-height: 0.4rem;
			text-align: center;
			font-size: 0.3rem;
			&.curr{
				color:$color-main;
			}
			p{}
		}
	}
	// 评价部分
	.evaluate{
		.evaluate-ls{
			padding:0 0.28rem;
			background:#fff;
			.evaluate-user{
				padding:0.2rem 0;
				border-bottom:1px solid #eee;
				.flex-info{}
				.user-id{}
				.user-avator{
					width: 0.55rem;
					height: 0.55rem;
					border:1px solid #eee;
					border-radius:100%;
					margin-right: 0.2rem;
					img{
						width: 100%;
						height: 100%;
					}
				}
				@mixin star($num){
					overflow: hidden;
					&:before{
						content:'';
						display: inline-block;
						width:0.2rem * $num;
						height: 0.2rem;
						background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACZ0lEQVRYR8WXMWgUQRRA388qB1aCYiEWioUWaoyoIJoYKy2DIAQEMYKye1pYaCNqIIKNgYgQN4eIYCHaWEdBjJoqhRpJcXbXKCgRLcQENHy5vb1lcze77s7dxatn/nsz//+df8J//kkrfPU5iaJS5JFtHGsBHecSXQyH4OviMWYjYSWgD1jLIs8R9oXQCgV6ZIgfeSXsBHxGEK41wMbF5cJKCczETl9jKrPisbvjAlriHErJCFrispxnNI9E7hSozzTCQSPE4hZyCQSV73Ar9YQ5byGzgKHykzzKFDiQtSOMAgHsN90ofcAGlB3AGmB/xvzOAL8Q5oCvCK9ZzaxJKhDQe/SyxBVgEYJKVmBLRljWZfPAT6AcbHC4KWd5UxPweY/QnTVSW9YpH8Vje12gua/bQkkJEnZMPAUPgc2d5kafbodTUQpidbASEhVCeJW7rAvCYuykxBccTlRPXr/ppjbsoMQ8Dsfj8KYbqFuFEk+B9W2qCSM8USCqiT88RtjYkoTymVUMNp48MQVxmE5wFbjRkgCkzgmpb4H6TCEcbklAeSUe/Ukx/iWQ/PRmt5oTl522AmWEbdlZxpWfxGVTbgH16Ud42SK8tl05Ih5TpliJKVDz4GnrMywuI/kEStxHOZNIrLaXRF+0vcDWFLsn4jKYTyCpA5TvCJMUKNYHjGCAWWAUYQBhXRMopRPSUvAWoScKpnwDpoGL4lExnUb94DW9DRxaJqK8E489eW9gEuEoygJQHbFOJ4EbA4ciEwi9wSinPBOPY/kEan+/hlBeSJEPNtWnd9lFFwMUuJM0pGaeim0Esuz5C41lxCHZVlCBAAAAAElFTkSuQmCC');
						background-size:0.2rem 0.2rem;
						background-repeat:repeat-x;
						background-position:0 0 ;
					}
				}
				.user-star{
					&[star="5"]{
						@include star(5);
					}
					&[star="4"]{
						@include star(4);
					}
					&[star="3"]{
						@include star(3);
					}
					&[star="2"]{
						@include star(2);
					}
					&[star="1"]{
						@include star(1);
					}
				}
				.flex-date{}
			}
			.evaluate-goods{
				padding:0.2rem 0;
				.pic{
					img{
						width: 30%;
						margin-right: 0.1%;
					}
				}
			}
		}
	}
	[color="gray"]{
		color:#adadad;
	}
	[color="dark"]{
		color:#333;
	}
	[fs="26"]{
		font-size: 0.26rem;
	}
	[fs="3"]{
		font-size: 0.3rem;
	}
	[line="1.2"]{
		line-height: 1.2;
	}
	[line="1.4"]{
		line-height: 1.4;
	}
	[line="1.6"]{
		line-height: 1.6;
	}
	[line="1.8"]{
		line-height: 1.8;
	}
	[line="2"]{
		line-height: 2;
	}
}