/**
 * flex布局-设置盒模型的组成模式
 */
.ge-boxs{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}


/**
 * 超市导航-5个按钮
 */
$color-nav:#363636;
.ge-mart-nav{
	padding:0.4rem 0 0.3rem;
	background:white;
	.nav-item{
		width: 1.2rem;
		margin-right: 0.35rem;
		cursor: pointer;
		&:last-child{
			margin-right: 0;
		}
		.nav-icon{
			width: 0.8rem;
			height: 0.8rem;
			margin: 0 auto;
		}
		.nav-name{
			font-size: 0.25rem;
			text-align: center;
			padding-top:0.25rem;
			color:$color-nav;
		}
	}
}

/**
 * 标题
 * 居中
 */

.ge-home-title{
	height:1rem;
	line-height:1rem;
	.title-name{
		text-align:center;
		font-size: 0.36rem;
	}
}


 /**
  * 专题活动
  * 720/240
  */
 
 .ge-home-agrid{
	@extend .ge-boxs;
	padding:0.15rem 0.15rem ;
	background:white;
 	.agrid-item{
 		width: 100%;
 		border-radius:0.2rem;
 		position: relative;
 		overflow: hidden;
 		margin-bottom: 0.15rem;
 		&:before{
 			content:'';
 			display: block;
 			padding-top:33.3333%;
 		}
 		.ge-max-box{
 			position:absolute;
 			top: 0;
 			left: 0;
 		}
 	}
 }


 /**
  * 轮播
  * 1200*480
  * padding-top:40%
  */
 .ge-home-banner-wrap{
 	@extend .ge-boxs;
 	padding:0.005rem;
	background: white;
	 .ge-home-banner{
	 	position:relative;
	 	&:before{
	 		content: '';
	 		display: block;
	 		padding-top:40%;
	 	}
	 	.ge-comm-slick{
			// padding:0.2rem 0.25rem;
			img{
				// border-radius:0.12rem;
			}
	 	}
	 }
 }

/**
 * 轮播下方广告
 * 750*190
 */
.ge-home-ad-box{
	position:relative;
	&:before{
		display: block;
		content: '';
		padding-top:25.333%;
	}
	.ge-max-box{
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}


/**
 * 首页特有悬浮小动画
 */
.ge-home-animate{
	position:fixed;
	right:0;
	top:60%;
	z-index:10;
	width:160px;
	transform:translateX(120px);
	-webkit-transform:translateX(120px);
	-moz-transform:translateX(120px);
	-ms-transform:translateX(120px);
	transition:all 0.4s cubic-bezier(1, -0.34, 0, 1.15);
	-webkit-transition:all 0.4s cubic-bezier(1, -0.34, 0, 1.15);
	-moz-transition:all 0.4s cubic-bezier(1, -0.34, 0, 1.15);
	&.show{
		transform:translateX(0px);
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
	}
	img{
		width: 100%;
	}
	.switch-btn{
		position:absolute;
		width: 40px;
		left: 0;
		top: 0;
		bottom:0;
		// background:red;
	}
}


 /**
  * 秒杀
  * ge-home-miaosha
  */
 .ge-home-miaosha{
 	background:white;
 	text-align: center;
 	border-bottom:1px solid #eee;
 	padding-bottom:0.32rem;
 	.miaosha-new-price{
 		font-size: 0.26rem;
 		line-height: 1.4;
 		padding-top:0.2rem;
 	}
 	.miaosha-old-price{
 		font-size: 0.22rem;
 		color:#838383;
 	}
 }