
/**
 * 超市页面
 */

$color-nav:#363636;

.ge-mart-nav{
	padding:0.4rem 0 0.3rem;
	background:white;
	margin-bottom:0.2rem;
	.nav-item{
		width: 1.2rem;
		margin-right: 0.35rem;
		&:last-child{
			margin-right: 0;
		}
		.nav-icon{
			width: 0.8rem;
			height: 0.8rem;
			margin: 0 auto;
		}
		.nav-name{
			font-size: 0.25rem;
			text-align: center;
			padding-top:0.25rem;
			color:$color-nav;

		}
	}
}