
/**
 * 超市页面
 */

/**
 * 设置基础变量
 */
$color-nav:#363636;
$color-main:#fe9600;


/**
 * 超市特色购
 */
.ge-mart-grid{
	overflow: hidden;
	background:white;
	.grid-wrap{
		overflow: hidden;
		.grid-item{
			float: left;
			&.grid-item-2{
				width: 50%;
			}
		}
	}
}


/**
 * 超市导航-5个按钮
 */
.ge-mart-nav{
	padding:0.4rem 0 0.3rem;
	background:white;
	.nav-item{
		width: 1.2rem;
		margin-right: 0.35rem;
		&:last-child{
			margin-right: 0;
		}
		.nav-icon{
			width: 0.8rem;
			height: 0.8rem;
			margin: 0 auto;
		}
		.nav-name{
			font-size: 0.25rem;
			text-align: center;
			padding-top:0.25rem;
			color:$color-nav;
		}
	}
}


/**
 * 超市-轮播
 * 尺寸：750*272
 */
.ge-mart-banner{
	width:7.5rem;
	height:2.27rem;
	overflow:hidden;
	position: relative;
	.slick-dots{
		position:absolute;
		bottom:0.1rem;
		left:50%;
		-webkit-transform: translateX(-50%,-50%);
		transform: translateX(-50%,-50%);
		li{
			width: 0.2rem;
			height: 0.2rem;
			background:rgba(0,0,0,0.5);
			float: left;
			margin: 0 0.1rem;
			border-radius: 100%;
			button{
				opacity:0;
			}
			&.slick-active{
				background:$color-main;
			}
		}
	}
}




