/**
 * flex布局-设置盒模型的组成模式
 */
.ge-boxs{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}


/**
 * 瀑布流
 */
.ge-comm-waterfall{
	position:relative;
	@extend .ge-boxs;
	padding-right:10px;
	width:100%;
	.waterfall-item{
		float: left;
		width: 50%;
		.item-wrap{
			@extend .ge-boxs;
			padding:10px 0 0 10px;
			.item-content{
				width: 100%;
				border:1px solid #ccc;
				border-radius:5px;
				box-shadow:0 0 5px #ccc;
				background:white;
				overflow: hidden;
			}
			img{
				display: block;
				width: 100%;
			}
			p{
				color: #999;
				font-size: 0.2rem;
				margin: 0.2rem;
				line-height: 1.3;
				&.location{
					padding-top:10px;
					border-top:1px dashed #ddd;
					color: #333;
					font-size: 0.2rem;
				}
			}
		}
	}
}

/**
 * 标题
 */
.ge-fixed-wrap{
	position:relative;
	width:100%;
}
.ge-waterfall-title{
	background:white;
	padding:0.3rem 0.2rem;
	border-bottom:1px solid #ddd;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9;
	.title-name{
		color: #666;
		font-size: 0.3rem;
		line-height:1.5;
	}
		/**
	 * 下拉列表
	 */
	.ge-comm-select{
		-webkit-appearance:none;
		border:none;
		float:right;
		font-size:0.3rem;
		line-height:1.5;
	}
}



